/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



/**************************************** Basic **********************************/

*{
	font-family: "Helvetica Neue", Tahoma;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color:#333333;
}

body, html{
	margin:0;
	padding:0;
	background:#333333;
}

img{
	border:none;
}

select{
	width:150px;
	height:25px;
	font-size:14px;
}

input{
	height:25px;
	font-size:14px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

.bigTitle{
	font-size:18px;
}

.strong{
	font-weight:bold;
}

.selectedLink{
	font-weight:bold;
	text-decoration:none;
	font-size:17px;
}

/********************************** Application **********************************/

.maxWidth{
	width:986px;
}

.autoAlign{
	margin:0px auto 0px auto;
}

#header{
	background:#E8E8E8;
	width:1022px;
	height:60px;
	margin:10px auto 0px auto;
}

#content{
	width:1022px;
	background:#E8E8E8;
	margin:5px auto 0px auto;
}

#search{
	width:630px;
	height:auto;
	margin:5px auto 5px auto;
}

#footer{
	width:1022px;
	height:30px;
	margin:10px auto 5px auto;
	color:#E8E8E8;
	text-align:center;
	font-size:13px;
}

#footer a{
	font-size:13px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}


/************************************* Forms *************************************/

.bigTextFields{
	width:400px;
}

.chuiiButton{
	width:60px;
}

.leftFeed{
	float:left;
	width:500px;
}

.rightBox{
	width:400px;
	height:auto;
	float:right;
}

.main{
	width:100%;
	height:auto;
}

.feedIdeas{
	height:auto;
	margin:0px auto 0px auto;
}

/*********************************** Main Form *************************************/

.mainForm{
	width:500px;
	height:auto;
	margin:10px auto 0px auto;
}

.mainForm select{
	width:500px;
	height:25px;
	font-size:14px;
}

.mainForm input[type=text]{
	width:500px;
	font-size:14px;
}

.mainForm textarea{
	width:500px;
	font-size:14px;
	height:400px;
}

.mainForm .shorText{
	width:500px;
	font-size:14px;
	height:70px;
}

/*********************************** Idea Item *************************************/
.item{
	/* width: 320px + 5px(left) + 5px(right) + 2px(border left & right) = 332px*/
	width:320px; 
	height:200px;
	margin:5px 10px 5px 0px;
	border:solid 1px #333333;
}

.item:nth-child(3n){
	margin-right:0px
}

