/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



/**************************************** Basic **********************************/

*{
	font-family: "Helvetica Neue", Tahoma;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color:#333333;
}

body, html{
	margin:0;
	padding:0;
	background:#333333;
}

img{
	border:none;
}

select{
	width:150px;
	height:25px;
	font-size:14px;
}

input{
	height:25px;
	font-size:14px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}

.bigTitle{
	font-size:18px;
}

/********************************** Application **********************************/
#header{
	background:#E8E8E8;
	width:1000px;
	height:auto;
	margin:10px auto 0px auto;
}

#content{
	width:1000px;
	background:#E8E8E8;
	margin:0px auto 0px auto;
}

#search{
	width:630px;
	height:auto;
	margin:5px auto 5px auto;
}

#footer{
	width:1000px;
	height:30px;
	margin:10px auto 5px auto;
	color:#E8E8E8;
	text-align:center;
	font-size:13px;
}

#footer a{
	font-size:13px;
	text-decoration:none;
	color:#B90504;
	font-weight:bold;
}


/************************************* Forms *************************************/

.bigTextFields{
	width:400px;
}

.chuiiButton{
	width:60px;
}

.leftFeed{
	float:left;
	width:500px;
}

.rightBox{
	width:400px;
	height:auto;
	float:right;
}

.main{
	width:100%;
	height:auto;
}

/*********************************** Idea Item *************************************/
.item{
	width:300px;
	height:200px;
	background:red;
}

