// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space{
	width:680px;
	height:auto;
	text-align: justify; 
	text-justify: newspaper;
}

.column{
	width:300px;
	height:auto;
}