// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
	min-height:500px;
	margin:0px;
}

.centerBlock{
	display:block;
	position:relative;
	width:600px;
	height:30px;
	text-align:center;
	margin:20px auto 0px auto;
}