<div id="voteManager_<%= item %>">
	<% if userLogedIn %>
		<% if owner != @user.id %>
			<%= render :partial => "vote", :locals => {:item => item, :id => id} %>
		<% end %>
	<% else %>
		In order to vote please <%= link_to "Login with FB", login_path %>
	<% end %>
</div>